.Header {
    position: sticky;
    top: 0;
    min-height: 70px;
    width: 100%;
    background: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 32px 0;
    z-index: 99;

    & .Navigation {
        display: flex;
        gap: 32px;

        & li {
            list-style-type: none;
        }
    }
}

.Navigation {
    .Navigation-link {
        font-size: 20px;
    }
}
