.Header {
    min-height: 70px;
    width: 100%;
    background: transparent;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;

    & .Navigation {
        display: flex;
        gap: 16px;

        & li {
            list-style-type: none;
        }
    }
}
