.Header {
    position: sticky;
    top: 0;
    min-height: 70px;
    height: 100px;
    width: 100%;
    background: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px 0;
    z-index: 99;

    & .Navigation {
        display: flex;
        gap: 32px;

        & li {
            list-style-type: none;
        }
    }
}

.Header-black {
    background-color: var(--primary-dark-color);
    min-height: 50px;
    height: 70px;
    transition:
        background-color 0.25s ease-in-out,
        color 0.25s ease,
        height 0.4s linear;

    & a {
        color: var(--total-white);
    }
}

.Navigation {
    .Navigation-link {
        font-size: 20px;
    }
}
