.Post {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 36px;

    .Post-image {
        position: relative;

        img {
            width: 100%;
            height: 300px;
            object-fit: cover;
        }
    }

    .Post-container {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 24px;

        .Post-container__note {
            color: var(--note-text);
        }
    }
}
